@model Repo.Models.Book

@{
    ViewBag.Title = "Dodaj książkę";
}

<div class="text-center">
    <h3>Dodaj książkę</h3>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { encype = "multipart/form-data", runat = "server", @class = "form-inline text-center" }))
{
    <div style="text-align: center;">
        <label for="title">Tytuł</label><br />
        <input type="text" name="title" class="inputs-size-bigger"/><br/>

        <label for="author">Autor</label><br />
        <input type="text" name="author" class="inputs-size-bigger"/><br/>

        <label for="ISBN">ISBN</label><br />
        <input type="text" name="ISBN" class="inputs-size-bigger"/><br/>

        <label for="tags">Tagi</label><br />
        <input type="text" name="tags" class="inputs-size-bigger" />
        <br /><br/>

        <label class="fileContainer btn btn-danger">
            Kliknij, aby dodać plik
            <input type="file" name="file"  runat="server">
        </label><br/><br/>

        <label>Kategoria</label><br />
        @Html.DropDownListFor(a => a.Category, new[]
        {
                 new SelectListItem(){Text = "Historyczna"},
                 new SelectListItem(){Text = "SF"},
                 new SelectListItem(){Text = "Horror"},
                 new SelectListItem(){Text = "Dramat"},
                 new SelectListItem(){Text = "Naukowa"},
                 new SelectListItem(){Text = "Poezja"},
        })
        <br/><br/>
        <input type="submit" class="btn btn-success" style="margin: 10px;" value="Dodaj książkę"/>
    </div>
}

<div class="text-center">
    <h3>Napisz wiadomość</h3>
    @using (Html.BeginForm("", "", FormMethod.Post, new { encype = "multipart/form-data", runat = "server" }))
    {
            <label for="subject">Temat</label><br />
            <input type="text" name="subject" class="inputs-size-bigger" />
            <br />

            <label for="content">Treść</label><br />
            <textarea type="text" name="content" class="inputs-size-biggest" ></textarea>
            <br />

            <br />
            <input type="submit" class="btn btn-success" style="margin: 10px;" value="Dodaj wiadomość" />
    }
</div>